.app-wrapper {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "h"
    "c";
  min-height: 100vh;
}

.app-wrapper-content {
  grid-area: c;
  overflow: auto;
  background-color: var(--bg);

}

.app-wrapper-content>* {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 clamp(12px, 3vw, 24px);
}